<div class='panel panel-primary' *ngIf='feedbacks && feedbacks.length'>
    <div class='panel-heading' style='font-size:large'>
        Feedback List
    </div>

    <div class='panel-body'>
        <div class="container">
			<table class='table table-striped'>
				<thead>
					<tr>
						<th>Name</th>
						<th>Description</th>
						<th>Points</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let feedback of feedbacks">
						<td>
							<a [routerLink]="['/feedback-detail', feedback.id]">
								{{feedback.name}}
							</a>
						</td>
						<td>{{feedback.description}}</td>
						<td>{{feedback.points}}</td>
					</tr>
				</tbody>
			</table>
		</div>
    </div>
</div>