<div class='panel panel-primary' *ngIf='feedback'>
    
    <div class='panel-heading feedback-name-title'>
        {{feedback.name }}
    </div>

    <form [formGroup]="myForm">
    <div class='panel-body'>
        <div class='row'>
            <div class='col-md-6'>
                <div class='row'>
                    <div class='col-md-3'>Name:</div>
                    <div class='col-md-6'>{{feedback.name}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-3'>Code:</div>
                    <div class='col-md-6'>{{feedback.description}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-3'>Points:</div>
                    <div class='col-md-6'>{{feedback.points}}</div>
                </div>
            </div>
        </div>

        <div class='row'>
            <div class='col-md-6 q-offset'>
                <div class='row' *ngFor="let q of feedback.questions">
                    <div class="q-desc" [ngClass]="{'q-error': !myForm.controls[q.id].valid, 'q-ok': myForm.controls[q.id].valid}">
                        {{q.description}}
                    </div>

                    <div *ngFor="let opt of q.options">

                        <input type="radio" name="{{'opt' + q.id}}" 
                            *ngIf="!q.allowMultiple" (click)="onSelectOption(opt, q.id)" />
                        <input type="checkbox" *ngIf="q.allowMultiple" (click)="onSelectOption(opt, q.id)" />
                        {{opt.description}}
                        <br />
                        <textarea #ta rows="4" cols="50" 
                            (blur)="onChangeCustomText(ta.value, q.id);" 
                            *ngIf="opt.isCustomText">
                        </textarea>
                         
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class='panel-footer'>
        <a class='btn btn-default' (click)='onBack()'>
            <i class='glyphicon glyphicon-chevron-left'></i> Back
        </a>
        <button type="button" (click)='onSubmit()' class="btn btn-primary" [disabled]="!myForm.dirty || (myForm.dirty && !myForm.valid)">
            <i class='glyphicon glyphicon-ok'></i> Submit
        </button>
        myForm.valid = {{myForm.valid}}
        myForm.dirty = {{myForm.dirty}}        
    </div>
    </form>
</div>