.table-striped>thead>tr{
    background-color:#000000;
    color:#fff;
}
.table-striped>tbody>tr:nth-of-type(even){
    background-color:#fcf8e3;
}
.table-striped>tbody>tr:nth-of-type(odd){
    background-color:#ffffff;
}
.q-desc{
    font-weight: bold;    
}
.q-offset{
    margin-top: 10px;
    margin-left: 15px;
}