<div class='panel panel-primary' *ngIf='feedback'>
    <div class='panel-heading feedback-name-title'>
        {{feedback.name }}
    </div>

    <div class='panel-body'>
        <div class='row'>
            <div class='col-md-6'>
                <div class='row'>
                    <div class='col-md-3'>Name:</div>
                    <div class='col-md-6'>{{feedback.name}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-3'>Code:</div>
                    <div class='col-md-6'>{{feedback.description}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-3'>Points:</div>
                    <div class='col-md-6'>{{feedback.points}}</div>
                </div>
            </div>
        </div>

        <div class='row'>
            <div class='col-md-6 q-offset'>
                <div class='row' *ngFor="let q of feedback.questions">
                    <div class="q-desc">{{q.description}}</div>

                    <div *ngFor="let opt of q.options">
                        <input type="radio" name="{{q.id}}" *ngIf="!q.allowMultiple" />
                        <input type="checkbox" *ngIf="q.allowMultiple" />
                        {{opt.description}}
                        <br />
                        <textarea rows="4" cols="50" *ngIf="opt.isCustomText"></textarea> 
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class='panel-footer'>
        <a class='btn btn-default' (click)='onBack()'>
            <i class='glyphicon glyphicon-chevron-left'></i> Back
        </a>
        <a class='btn btn-primary' (click)='onSubmit()'>
            <i class='glyphicon glyphicon-ok'></i> Submit
        </a>
    </div>
</div>