<div class='panel panel-primary' *ngIf='feedback'>
    
    <div class='panel-heading feedback-name-title'>
        {{feedback.name }}
    </div>

    <form #feedbackForm="ngForm">
    <div class='panel-body'>
        <div class='row'>
            <div class='col-md-6'>
                <div class='row'>
                    <div class='col-md-3'>Name:</div>
                    <div class='col-md-6'>{{feedback.name}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-3'>Code:</div>
                    <div class='col-md-6'>{{feedback.description}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-3'>Points:</div>
                    <div class='col-md-6'>{{feedback.points}}</div>
                </div>
            </div>
        </div>

        <div class='row'>
            <div class='col-md-6 q-offset'>
                <div class='row' *ngFor="let q of feedback.questions">
                    <div class="q-desc">{{q.description}}</div>

                    <div *ngFor="let opt of q.options">
                        <input type="radio" name="{{q.id}}" *ngIf="!q.allowMultiple" (click)="onSelectOption(opt, q.id, q.allowMultiple)" />
                        <input type="checkbox" *ngIf="q.allowMultiple" (click)="onSelectOption(opt, q.id, q.allowMultiple)" />
                        {{opt.description}}
                        <br />
                        <textarea #ta rows="4" cols="50" (blur)="opt.customText=ta.value;onChangeCustomText(opt.id, ta.value, q.id)" *ngIf="opt.isCustomText" name="{{opt.id}}" [required]="isSelected(opt,q.id)" [(ngModel)]="opt.customText"></textarea>
                         
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class='panel-footer'>
        <a class='btn btn-default' (click)='onBack()'>
            <i class='glyphicon glyphicon-chevron-left'></i> Back
        </a>
        <button type="button" (click)='onSubmit()' class="btn btn-primary" [disabled]="!feedbackForm.dirty || (feedbackForm.dirty && !feedbackForm.valid)">
            <i class='glyphicon glyphicon-ok'></i> Submit
        </button>
        feedbackForm.valid = {{feedbackForm.valid}}
        feedbackForm.dirty = {{feedbackForm.dirty}}        
    </div>
    </form>
</div>